testing/plots/plots_env/
.DS_Store
**/.DS_Store

testing/custom_implementations/work_dir/all_gather/out
testing/custom_implementations/work_dir/all_gather/runner_polaris_allgather.sh.*
testing/custom_implementations/work_dir/all_gather/results.csv
testing/custom_implementations/work_dir/all_gather/*.csv
testing/custom_implementations/work_dir/all_gather/test
testing/custom_implementations/work_dir/all_gather/test2
testing/custom_implementations/work_dir/all_gather/out
testing/custom_implementations/work_dir/all_gather/tester_polaris_allgather.sh.*
testing/custom_implementations/work_dir/all_gather/tester_aurora_allgather.sh.*
testing/custom_implementations/work_dir/reduce_scatter/runner_polaris_reduce_scatter.sh.*

testing/mpich_implementations/reduce_scatter/runner_polaris_reduce_scatter.sh.*
testing/mpich_implementations/reduce_scatter/out

testing/custom_implementations/work_dir/reduce_scatter/tests_b_104/
testing/custom_implementations/work_dir/reduce_scatter/tests_b_13/
testing/custom_implementations/work_dir/reduce_scatter/tests_b_26/
testing/custom_implementations/work_dir/reduce_scatter/tests_b_52/
testing/custom_implementations/work_dir/reduce_scatter/tests_random_b/

testing/custom_implementations/work_dir/all_reduce/results13.csv
testing/custom_implementations/work_dir/all_reduce/results26.csv
testing/custom_implementations/work_dir/all_reduce/results52.csv
testing/custom_implementations/work_dir/all_reduce/results6.csv


testing/custom_implementations/work_dir/reduce_scatter/results16.csv
testing/custom_implementations/work_dir/reduce_scatter/results2.csv
testing/custom_implementations/work_dir/reduce_scatter/results32.csv
testing/custom_implementations/work_dir/reduce_scatter/results48.csv
testing/custom_implementations/work_dir/reduce_scatter/results64.csv


testing/custom_implementations/work_dir/reduce_scatter/results4.csv
testing/custom_implementations/work_dir/reduce_scatter/results8.csv

testing/custom_implementations/work_dir/reduce_scatter/debug_plots
testing/custom_implementations/work_dir/all_reduce/runner_polaris_allreduce.sh.*
testing/custom_implementations/work_dir/all_reduce/out

.vscode/
testing/custom_implementations/work_dir/reduce_scatter/all_buffers.txt
testing/custom_implementations/work_dir/reduce_scatter/out